doctype html
html(lang="en")
  head
    title= Scheduler
  body(style='width: 500px; display: block; margin: auto;')
    h1 Scheduler
    p Login page.
    a(href="/api/v1/auth/google")
      button Login with google
    
